<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Feed</th>
      <th>Movie type</th>
      <th>Image</th>
      <th>Publish</th>
      <th>Movie</th>
      <th>Play time</th>
      <th>Site</th>
      <th>Site type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.url %></td>
        <td><%= movie.feed_id %></td>
        <td><%= movie.movie_type_id %></td>
        <td><%= movie.image %></td>
        <td><%= movie.publish %></td>
        <td><%= movie.movie_id %></td>
        <td><%= movie.play_time %></td>
        <td><%= movie.site_id %></td>
        <td><%= movie.site_type_id %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
