<p id="notice"><%= notice %></p>

<h1>Movie Types</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_types.each do |movie_type| %>
      <tr>
        <td><%= movie_type.title %></td>
        <td><%= movie_type.url %></td>
        <td><%= link_to 'Show', movie_type %></td>
        <td><%= link_to 'Edit', edit_movie_type_path(movie_type) %></td>
        <td><%= link_to 'Destroy', movie_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie Type', new_movie_type_path %>
