<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie_type.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @movie_type.url %>
</p>

<%= link_to 'Edit', edit_movie_type_path(@movie_type) %> |
<%= link_to 'Back', movie_types_path %>
